h4 {text-align: center;
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    color: rgb(1, 15, 0);
}

body{
    
    font-family: "Times New Roman", Times, serif;
    background-image: url("2.jpg");
     background-color: rgb(60, 223, 73);
    
    text-align: center;
    
}


label{
    
    display: inline-block;
     clear: left;
    width: 100px;
    text-align: left; 
     }
     


form{
    
    color: rgb(255, 255, 255);
    
}
h4{
    color: rgb(32, 250, 12);
}